
          

  <div class="incoming_msg row">
      <div class="received_withd_msg ">
        <p>receiving message</p>
          <app-timedate></app-timedate>
      </div>
  </div>
  <div class="outgoing_msg flex-row-reverse d-flex">
    <div class="sent_msg  ">
      <p>outgoing message</p>
        <app-timedate></app-timedate>
      </div>
  </div>
  <div class="incoming_msg row">
    <div class="received_withd_msg ">
      <p>receiving message</p>
        <app-timedate></app-timedate>
    </div>
</div>
<div class="outgoing_msg flex-row-reverse d-flex">
  <div class="sent_msg  ">
    <p>outgoing message</p>
      <app-timedate></app-timedate>
    </div>
</div> <div class="incoming_msg row">
  <div class="received_withd_msg ">
    <p>receiving message</p>
      <app-timedate></app-timedate>
  </div>
</div>
<div class="outgoing_msg flex-row-reverse d-flex">
<div class="sent_msg  ">
  <p>outgoing message</p>
    <app-timedate></app-timedate>
  </div>
</div>
 


