<div class="card">
  <div class="card-header  row">
    <div class="col-6">ALi</div>
    <div class="col-6 text-right">
      <button type="button" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
      <button type="button" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
      <button type="button" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>  
  </div>
  <div class="card-body">
    <app-msghistory></app-msghistory>
  </div>
  <div class="card-footer">
    <input type="text" id="chatinput" class="form-control" name="" placeholder="Type here">
    <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i>
    </button>
  </div>
</div>